{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weather station app
  </h3>
  <div class="section">
      <span>
            Here you can find the list of weather station around the world
      </span>
      <span>
          <img src="img/logo.png" alt="logo" width="256px">
      </span>
  </div>
</section>
