{{> menu}}

<section class="section">
  <div class="title">
    <b>{{uppercase station.title}}</b>
  </div>
  {{> station-boxes}}
  {{> add-report}}
  <div class="title">
      Reports:
  </div>
  {{> list-reports}}
</section>
