{{> menu active="user"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
      {{#if user}}
      <form action="/user/logout" method="post">
          <div class="field is-grouped">
            <button class="button is-danger">Logout</button>
          </div>
      </form>
        {{capitalizeFirst user.firstName}}'s details
        {{else}}
        User's details
    {{/if}}
  </h3>
  <div class="section">
    {{#if user}}
      {{> user-details}}
    {{else}}
      {{> log-in}}
    {{/if}}
  </div>
</section>
